{
    "directories": [
        "bin",
        "config",
        "src",
        "var/",
        "vendor/"
    ],
    "files": [
        "config/services.yaml",
        "src/bootstrap.php"
    ],
    "compression": "GZ"
}
